export POSTGRES_PASSWORD=sos21
export POSTGRES_USER=sos21
export POSTGRES_DB=sos21
export POSTGRES_PORT=5432

export MINIO_ROOT_USER=sos21
export MINIO_ROOT_PASSWORD=sos21sos21
export MINIO_PORT=9000

export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

export SOS21_API_SERVER_JWT_AUDIENCE=<Firebase project ID>
export SOS21_API_SERVER_JWT_ISSUER="https://securetoken.google.com/$SOS21_API_SERVER_JWT_AUDIENCE"
export SOS21_API_SERVER_JWT_KEYS_URL="https://www.googleapis.com/robot/v1/metadata/jwk/securetoken@system.gserviceaccount.com"
export SOS21_API_SERVER_POSTGRES_URI=$DATABASE_URL
export SOS21_API_SERVER_S3_ACCESS_KEY=$MINIO_ROOT_USER
export SOS21_API_SERVER_S3_ACCESS_SECRET=$MINIO_ROOT_PASSWORD
export SOS21_API_SERVER_S3_REGION=
export SOS21_API_SERVER_S3_ENDPOINT="http://localhost:${MINIO_PORT}"
export SOS21_API_SERVER_S3_OBJECT_BUCKET=object
export SOS21_API_SERVER_ADMINISTRATOR_EMAIL=<administrator email address>
export SOS21_API_SERVER_BIND=127.0.0.1:3000

export RUST_BACKTRACE=1
